.poster {
    display: flex;
    align-items: center;
    color: white;
    position: relative;
    white-space: pre-line;
    top: 0px;
    width: 100%;
    height: 80vh;
    background-size: cover;
    background-position: center center;
}

.poster__container {
    position: absolute;
    top: 24%;
    left: 15%;
    width: 100%;
}