/*=============================== INTRO STYLE =======================================*/
.intro {
    position: relative;
    top: 72px;
    width: 100%;
    display: flex;
    align-items: center;
    height: max-content;
    background-image: url('https://cdn.shopify.com/s/files/1/0274/4293/7933/files/Banners-16.7.21-Nike-SB-Desktop_1.jpg?v=1626425252');
    background-size: cover;
    background-position: left;
    padding: 11% 0;
    color: white;
}

.intro__content {
    padding: 0 7%;
}

/*============================== FEATURE CATEGORY STYLES ===============================*/

.featured-category {
    position: relative;
    top: 72px;
}

/*============================== FEATURED PRODUCT STYLES =================================*/

.featured-product {
    position: relative;
    top: 72px;
}


/*=============================== POSTER SECTION STYLES ===================================*/

.posterSection {
    position: relative;
    top: 72px;
    width: 100%;
}
.posterSection__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: 80vh;
}

.posterSection__content {
    padding: 20px 60px;
}

.posterSection__content > p {
    font-size: 1.4rem;
    font-weight: 300;
    line-height: 28px;
}

/*=============================== NEW RELEASE STYLES ====================================*/

.newRelease {
    position: relative;
    top: 72px;
    height: max-content
}

.newRelease__content {
    display: flex;
    justify-content: space-between;
}

.newRelease__btn {
    align-self: flex-end;
}


/*================================ NEWS LETTER STYLES ===================================*/

.newsLetter {
    position: relative;
    top: 72px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.newsLetter > .newsLetter__content {
    margin-right: 100px;
}

.newsLetter > .newsLetter__content > h3 {
    line-height: 80px;
    margin-top: -18px;
}


.newsLetter > .newsLetter__content > h4 {
    font-weight: 300;
}

.newsLetter > .newsLetter__form {
    display: flex;
    align-items: center;
    flex: .7;
    padding: 15px;
    border-bottom: 1px solid black;
}

.newsLetter > .newsLetter__form > .newsLetter__input {
    outline: none;
    border: none;
    box-shadow: none; 
    width: 100%;  
}

/*============================== RESPONSIVE STYLES ================================*/

@media only screen and (max-width: 990px) {
    .featured-product > .container {
        width: 98vw;
    }

    .newsLetter > .newsLetter__content {
        flex: 1 1 100vw;
    }
    .newsLetter > .newsLetter__form { 
        flex: 1;
    }
}

@media only screen and (max-width: 760px) {
    .intro__content {
        padding: 0 4%;
    }
}

@media only screen and (max-width: 500px) {
    .intro__content {
        text-align: center;
    }
}