*,*::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --grey-color: #e8e8e8;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    height: 100%;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 1400px;
    margin: 0 auto;
}

a, a:link, a:visited {
    text-decoration: none;
    color: inherit;
}

/*================================== RESPONSIVE STYLES ====================================*/

@media only screen and (max-width: 1500px) {
    .container {
        width: 90vw;
    }
}